@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.markdown > * {
  all: revert;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer base {
  :root {
    --background: 261 45% 100%;
    --foreground: 261 60% 3%;
    --muted: 81 23% 95%;
    --muted-foreground: 81 3% 26%;
    --popover: 261 45% 100%;
    --popover-foreground: 261 60% 3%;
    --card: 261 45% 100%;
    --card-foreground: 261 60% 3%;
    --border: 261 13% 93%;
    --input: 261 13% 93%;
    --primary: 261 9% 13%;
    --primary-foreground: 261 9% 73%;
    --secondary: 81 9% 13%;
    --secondary-foreground: 81 9% 73%;
    --accent: 81 9% 13%;
    --accent-foreground: 81 9% 73%;
    --destructive: 5 88% 27%;
    --destructive-foreground: 5 88% 87%;
    --ring: 261 9% 13%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 261 48% 4%;
    --foreground: 261 40% 97%;
    --muted: 81 23% 5%;
    --muted-foreground: 81 3% 74%;
    --popover: 261 48% 4%;
    --popover-foreground: 261 40% 97%;
    --card: 261 48% 4%;
    --card-foreground: 261 40% 97%;
    --border: 261 13% 14%;
    --input: 261 13% 14%;
    --primary: 261 9% 13%;
    --primary-foreground: 261 9% 73%;
    --secondary: 81 9% 13%;
    --secondary-foreground: 81 9% 73%;
    --accent: 81 9% 13%;
    --accent-foreground: 81 9% 73%;
    --destructive: 5 88% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 261 9% 13%;
  }
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
} */
